################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/Catalogs.Api/bin/Debug/net8.0
/Catalogs.Api/obj
/Deliveries.Api/bin/Debug/net8.0
/Deliveries.Api/obj
/Gateway.Api/obj
/Infra.Shared/obj
/obj/Debug
/Orders.Api/obj
/Payment.Api/obj
/Payments.Api/obj
/Stock.Api/obj
/obj/Docker
/Gateway.Api/bin/Debug/net8.0
/Infra.Shared/bin/Debug/netstandard2.1
/Orders.Api/bin/Debug/net8.0
/Payments.Api/bin/Debug/net8.0
/Stock.Api/bin/Debug/net8.0
